@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&family=Sriracha&display=swap');

:root{
    --font-paragrafo: 'Sriracha', cursive;
    --font-destaque: 'Passion One', cursive;
    --font-secun: Verdana, Geneva, Tahoma, sans-serif;
}
*{
    padding: 0%;
    margin: 0%;
}
header{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 80px;
}
header > h1{
    font: normal normal 5em var(--font-destaque);
}
header > p{
    font: normal normal 1em var(--font-secun);
    padding-bottom: 20px;
}
section p{
    padding: 30px 10px 30px 10px;
    line-height: 40px;
    font: normal normal 1.7em var(--font-paragrafo);
}
section#img1{
    box-shadow: inset 6px 6px 15px rgba(0, 0, 0, 0.425);
    height: 60vh;
    background-image: url(../imagens/background001.jpg);
    background-position: right bottom;
    background-size: cover;
    background-attachment: fixed;

}
div#first{
    position: relative;
    top:10%;
    left: 3%;
}
div#second{
    position: relative;
    top:10%;
    left: 3%;
}

section#img2{
    box-shadow: inset 6px 6px 15px rgba(0, 0, 0, 0.425);
    
    height: 65vh;
    background-image: url(../imagens/background002.jpg);
    background-position: right bottom;
    background-size: cover;

    background-attachment: fixed;
}

section.imagem p{
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.383);
    width: 350px;
}
footer{
    margin-top: 80px;
    padding: 10px;
    text-align: center;
    background-color: black;
    color: white;
    font: normal normal 1em var(--font-secun);
}